PyYAML==3.11
SQLAlchemy==0.9.8
hiredis==0.1.5
manage.py==0.2.10
psycopg2==2.5.4
raven==5.1.1
redis==2.10.3
rq==0.4.6 # git+git@github.com:nvie/rq.git@master#egg=rq
selenium==2.44.0
git+https://github.com/svven/extraction.git@master#egg=extraction # -e ../extraction
git+https://github.com/svven/summary.git@master#egg=summary-extraction # -e ../summary # summary-extraction==0.2
git+ssh://git@bitbucket.org/svven/database.git@master#egg=svven-database # -e ../database
git+ssh://git@bitbucket.org/svven/aggregator.git@master#egg=svven-aggregator # -e ../aggregator
